//app-concert-calendar
//app-contact
//app-lessons-learnt
//app-main
//app-profile
//app-restful-api
div(style='text-align:center')
  h1
    | Welcome to {{ title }}!

a(routerlink='/contact') Contact
router-outlet