body
nav.navbar.navbar-expand-sm.bg-light.navbar-light
  // Brand/Logo
  a.navbar-brand(a href="#") 
  p ♫
  // Links
  ul.navbar-nav
    li.nav-item
      a.nav-link(routerLink='/main', routerLinkActive='active') NYITÓLAP
    li.nav-item
      a.nav-link(routerLink='/concert-calendar', routerLinkActive='active') BAKELIT
    li.nav-item
      a.nav-link(routerLink='/profile', routerLinkActive='active') PROFIL
    li.nav-item
      a.nav-link(routerLink='/restful-api', routerLinkActive='active') RESTFUL API
    li.nav-item
      a.nav-link(routerLink='/lessons-learnt', routerLinkActive='active') TUDÁSBÁZIS
    li.nav-item
      a.nav-link(routerLink='/contact', routerLinkActive='active') KAPCSOLAT
router-outlet