doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Concert calendar
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Boogaloo', rel='stylesheet')
  body
    header
      section#concert
      // with background image
    main
      br
      br
      br
      .container
        .row
          .col-sm-4
            form.card.bg-light
              h4 Kapcsolat
              label(for='lname') Név
              input#lname(type='text', name='lastname', placeholder='Vezetéknév..')
              label(for='email') Email
              input#email(type='email', name='email', placeholder='Email..')
              label(for='subject') Üzeneted
              textarea#subject(name='subject', placeholder='Ide írd üzeneted..')
              input(type='submit', value='Küldés')
          .col-sm-7
            form.card
              label(for='gmaps') Itt találsz:
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.471945635502!2d19.05091431557931!3d47.46123197917523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dda08d6f129d%3A0x5ed4479e3031e66e!2sTraining360+Kft.!5e0!3m2!1sen!2shu!4v1524339008208', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

    footer
        br
        a.fa.fa-facebook(href='#')
        a.fa.fa-linkedin(href='#')
        a.fa.fa-skype(href='#')
        a.fa.fa-youtube(href='#')
        a.fa.fa-google(href='#')