#concert {
  background-image: url("/src/assets/img/background2.jpeg");
  background-size: cover;
  height: 55vh;
  width: auto;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 3.5vh;
}

.footer-social {
  float: right;
  margin-top: 5px;
}

.footer-social li {
  display: inline;
}

.footer-social span {
  margin-top: -20px;
}

#tartalom {
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 3.5vh;
}

#submit {
  text-align: center;
}

#lemez {
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 3.5vh;
  width: 18rem;
}
