doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Frontend
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Boogaloo', rel='stylesheet')
  body
    header
      section#header.jumbotron
        //main picture
    main#main.jumbotron
      section#tartalom1.about
        | Ez a honlap az elmúlt négy hónap munkájának összegzésére született,
        | tartalmát tekintve öt részre osztható:
        br
        | Nyitólap, Bakelit, Profil, Restful API, Tudásbázis, Kapcsolat
        br
        br
      section#tartalom2.about
        | A NYITÓLAP általános információkat tartalmaz, célja a bemutatás.
        br
        br
      section#tartalom3.about
        | A BAKELIT elnevezésű oldalon található a megvalósított bakelit lemezek eladására szolgáló felület. Tartamaz egy "Újdonságok" szekciót,
        | amelyet bárki megtekinthet. Email címmel és jelszóval történő regisztrációt
        | követően a felhasználó eléri a lemezek adatbázisát, azokból vásárolni tud. A "Kereső"-vel a lemezek között szűrhet.
        br
        br
      section#tartalom4.about
        | A PROFILE oldalra navigálva jobban megismerhettek.
        br
        br
      section#tartalom5.about
        | A RESTFUL API oldalán a látogató megtalálja a magyarázatot arra, mit jelent a REST kifejezés, a Web Service, és maga a RESTful api és megnézheti a megértést
        | szolgáló, a témában elérhető vizuális ábrákat is.
        br
        br
      section#tartalom6.about
        | A TUDÁSBÁZIS felületén összegyűjtöttem egy-két példát az elmúlt egy hétben tanultakról.
        br
        br
      section#tartalom7.about
        | A KAPCSOLAT oldal egy űrlapot és egy Google térképet tartalmaz.
    footer
      h6 Contact us:
        br
        a.fa.fa-facebook(href='#')
        a.fa.fa-linkedin(href='#')
        a.fa.fa-skype(href='#')
        a.fa.fa-youtube(href='#')
        a.fa.fa-google(href='#')


