html
  body
    br
    br
    br
    h3 Lorem ipsum
    br
    article
      br
      section
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id illum, sit fuga distinctio omnis vitae cumque eaque
        | asperiores minima esse vel quisquam. Rerum laboriosam placeat dolorem nobis totam molestias adipisci.
      br
      section
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Error excepturi consequuntur sint illo. Optio quos asperiores
        | exercitationem quidem vero doloremque. Facere consequatur ut aspernatur, consectetur dolorem exercitationem illum
        | eius quod.
      br
      section
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam incidunt magni eius assumenda accusantium inventore
        | aperiam est in praesentium cumque quia corrupti dignissimos molestias consequuntur nulla quidem dolorum, voluptate
        | a?
      br
      section
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam incidunt magni eius assumenda accusantium inventore
        | aperiam est in praesentium cumque quia corrupti dignissimos molestias consequuntur nulla quidem dolorum, voluptate
        | a?
      br
      section
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam incidunt magni eius assumenda accusantium inventore
        | aperiam est in praesentium cumque quia corrupti dignissimos molestias consequuntur nulla quidem dolorum, voluptate
        | a?
    br
    br
    br
    .footer-social
    span Connect with us:
      li
        a(href='http://www.facebook.com')
          img(src='http://www.womenactionmedia.org/cms/assets/themes/crate/images/social/facebook.png')
      li
        a(href='http://www.twitter.com')
          img(src='http://grfx.cstv.com/schools/wis/graphics/icon_twitter24.jpg')
      li
        a(href='http://www.youtube.com')
          img(src='http://mylzh.net/wiki/worldofwarcraft/images/5/5d/Icon-youtube-22x22.png')


