doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Bakelit
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Boogaloo', rel='stylesheet')
  body
    header
      section#concert.jumbotron
      // with background image
      app-registration
    main.jumbotron
      section#tartalom.about
        | Webáruházunkban közel 600.000 termék közül választhat, amelyek mindegyike nem található meg a budapesti boltunkban.
        | A keresett termékekről elérhetőségeinken tud érdeklődni. Miért jó bakelitet hallgatni, gyűjteni? 
      br
      section#tartalom.about
        | Egy bakelit lemezekkel foglalkozó magyar közösségi oldal sikerét látva egy lelkes, zömében debreceni gyűjtőkből álló kis csoport úgy döntött, 
        | hogy létrehoznak egy ezzel foglalkozó önálló netes oldalt, sőt lemezbörzét is tartanának évente négy alkalommal.
        | A kezdeményezés egyik elindítója, Elek László portálunknak elmondta: szerte a világon olyan nagy a bakelit reneszánsza,
        | hogy újra elkezdték gyártani. A gyűjtők Európában elsősorban tömegeket megmozgató lemezbörzéken találkoznak, melyeken főleg cserélnek,
        | de adni-venni is szoktak. A legnagyobb ilyen rendezvényeket Utrechtben, Bécsben, Frankfurtban, Hamburgban tartják, de Olaszország sem marad le.
        | Ezekre sokszor az Egyesült Államokból, Mexikóból, de még Japánból is jönnek „megszállott” gyűjtők, akik általában több száz, néhányan több ezer darab lemezzel érkeznek.
      br
    .row
      .col-sm-3(*ngFor='let bakelit of bakelits')
        #lemez.card
          img.card-img-top(src='{{bakelit.image}}', alt='')
          .card-body
            h5.card-title
              | {{bakelit.artist}}
              p.card-text {{bakelit.title}}
              a.btn.btn-dark(href='https://www.bakelitfutar.hu/' target='_blank') Kosárba
    br
    br
    footer
      h6 További adatok:
        br
        a.fa.fa-facebook(href='https://www.facebook.com')
        a.fa.fa-linkedin(href='https://www.linkedin.com')
        a.fa.fa-skype(href='https://www.skype.com')
        a.fa.fa-youtube(href='https://www.youtube.com')
        a.fa.fa-google(href='https://www.google.com/')