doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Concert calendar
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Boogaloo', rel='stylesheet')
    
  body
    header
      section#concert.jumbotron
      // with background image
    main
      section#tartalom1.about
        | Rengeteget tanultam a project során, legfőképpen azt, hogyan kell végigvinni egy teljes folyamatot
        | a backend kialakítástól a frontend elkészítsen  át a kettő összekapcsolásáig.
      br
      br
      section#tartalom2.about
        | Önállóan elkészíteni a frontend és backend struktúra sceletonját.
        | A frontend struktúrában az angulart pug-osítani.
        | A backend RESTFUL APIt elkészíteni.
    footer
        br
        a.fa.fa-facebook(href='#')
        a.fa.fa-linkedin(href='#')
        a.fa.fa-skype(href='#')
        a.fa.fa-youtube(href='#')
        a.fa.fa-google(href='#')